<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bienvenido a QR Tracker</h1>
    <p>Escanea el código QR para acceder al PDF:</p>
    <a href="/pdf">Ir al PDF</a>  <!-- Enlace para redirigir al PDF -->
    <br>
    <a href="/stats">Ver estadísticas de visitas</a>  <!-- Enlace a la ruta de estadísticas -->
</body>
</html>
